* {
  box-sizing: border-box;
}
body {
  font-weight: 300;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #613860;
}
h1 {
  font-weight: 700;
  letter-spacing: 1px;
}

button {
  height: 20px;
  padding: 0;
  display: inline-block;
  border: none;
}

ul {
  margin-bottom: 15px;
}

ul li {
   list-style: none;
   line-height: 30px;
   vertical-align: middle;
}

ul li:after {
  content: attr(data-before);
  display: block;
  float: right;
  clear: right;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
  color: white;
  text-align: center;
  line-height: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
}

.incomplete-items ul li:after {
  background-color: #2FB8AC;
}

.complete-items ul li:after {
  background-color: #613860;
}

@media (max-width: 480px) {
  ul li:after {
    display: none;
  }

}

.skinny {
  font-weight: 300;
}

.today {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 85%;
  letter-spacing: 0.5px;
}

.container {
  max-width: 1200px;
}

footer, section {
  position: relative;
  padding: 15px;
 -webkit-transition: all 250ms;
 -moz-transition: all 250ms;
 transition: all 250ms;
 box-shadow: none;
 max-width: 100%;
 width: 100%;
 margin: 0;
}
/*
header.active, footer.active, section.active {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header:hover, footer:hover, section:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}*/



section.new-items {
  width: 100%;
  background-color: #2FB8AC;
  color: white;

}

section.new-items:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: url(../images/notes.jpg) center center no-repeat;
  background-size: cover;

}

section.new-items {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input#add-items-here {
  background: none;
  box-shadow: none;
  outline: none;
  border-width: 0 0 2px 0;
  border-radius: 0;
  border-color: white;
  font-size: 32px;
  padding 15px 10px;
  min-height: 50px;
  width: 100%;
  display: block;
}

#add-button {
  position: relative;
  width: 100%;
}

#add-button button{
  border: none;
  border-radius: 50%;
  font-size: 16px;
  padding: 0 15px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  z-index: 100;
  background: #E8175D;
  vertical-align: text-bottom;
  margin-bottom: -1px;
  font-family: inherit;
  font-weight: 300;
  color: white;
  position: absolute;
  right: 0;
  bottom: -40px;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#add-button button:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #309292;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #309292;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #309292;
}
:-moz-placeholder { /* Firefox 18- */
  color: #309292;
}

.new-items .quiet, header .quiet {
  color: #309292;
}

footer {
  background-color: #613860;
  color: #ffffff;
}

section.complete-items {
  border-left: 3px solid #613860;
  border-right: 3px solid #613860;
  background-color: white;
}

section.complete-items h3 {
  color: #613860;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 25px 0 20px;
}

section.complete-items .fa {
  color: #613860;
  font-size: 20px;
  margin: 0 10px 0 0;
}

section.complete-items label {
  text-decoration: line-through;
  color: #ccc;
}

section.incomplete-items {
  border-left: 3px solid #2FB8AC;
  border-right: 3px solid #2FB8AC;
  border-bottom: 1px solid #eee;
  background-color: white;
}

section.incomplete-items h3 {
  color: #2FB8AC;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 25px 0 20px;
}

section.incomplete-items .fa {
  color: #2FB8AC;
  font-size: 20px;
  margin: 0 10px 0 0;
}

section.incomplete-items button, section.complete-items button {
  width: 40px;
}

input[type="text"]{
  display: none;
}

input[type="checkbox"]{
  display: inline-block;
  margin: 0 15px 0 0;
  width: 20px;
}

label {
  display: inline-block;
  font-weight: 300;
  margin: 0 15px 0 0;
  width: calc(100% - 180px);
  padding-left: 10px;
}

.active label {
  display: none;
}

.active input[type="text"] {
  display: inline-block;
  margin: 0 15px 0 0;
  color: #999;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #2FB8AC;
  height: 20px;
  font-weight: 300;
  width: calc(100% - 180px);
}

section.incomplete-items .active input[type="text"] {
  border-bottom: 2px solid #2FB8AC;
}

section.complete-items .active input[type="text"] {
  border-bottom: 2px solid #613860;
}
